# =========================================================
# KUBERNETES API SERVER LB (TCP 6443)
# =========================================================
frontend kubernetes-api
    bind *:6443
    mode tcp
    option tcplog
    default_backend kubernetes-masters

backend kubernetes-masters
    mode tcp
    balance roundrobin
    option tcp-check
    default-server inter 3s fall 3 rise 2
    server master1 192.168.56.101:6443 check
    server master2 192.168.56.102:6443 check
    server master3 192.168.56.103:6443 check

# =========================================================
# BACKEND API LB (HTTP 8000)
# =========================================================
frontend backend-api
    bind *:8000
    mode http
    option forwardfor
    default_backend backend-api-backend

backend backend-api-backend
    mode http
    balance roundrobin
    option httpchk GET /api/health
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
    server node1 192.168.56.104:30080 check
    server node2 192.168.56.105:30080 check
    server node3 192.168.56.106:30080 check
    server node4 192.168.56.107:30080 check
    server node5 192.168.56.108:30080 check

# =========================================================
# FRONTEND LB (HTTP 3000)
# =========================================================
frontend frontend-app
    bind *:3000
    mode http
    option forwardfor
    default_backend frontend-backend

backend frontend-backend
    mode http
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
    server node1 192.168.56.104:30300 check
    server node2 192.168.56.105:30300 check
    server node3 192.168.56.106:30300 check
    server node4 192.168.56.107:30300 check
    server node5 192.168.56.108:30300 check

# =========================================================
# GRAFANA LB (HTTP 30330)
# =========================================================
frontend grafana-app
    bind *:30330
    mode http
    option forwardfor
    default_backend grafana-backend

backend grafana-backend
    mode http
    balance roundrobin
    option httpchk GET /api/health
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
    server master1 192.168.56.101:30330 check
